/Pharmacy/Pharmacy/target/
/ProjectFiles/PharmacyManagement/nbproject/private/
/ProjectFiles/PharmacyManagement/build/
.idea/vcs.xml
.idea/PharmacyManagement.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
/ProjectFiles/PharmacyManagement/dist/